<section class="grid faixa-identificacao">
  <div class="col-2 faixa-titulo">
    <span class="titulo">
      {{titulo}}
    </span>
  </div>

  <div class="col-10 faixa-botoes">
    <a *ngIf="addNovo" class="botao" (click)="onNovo.emit()">
      <img [src]="'assets/icone-menu/novo.png'">
      <span>Nov{{flexaoGenero}} {{tituloNovo}}</span>
    </a>

    <a *ngIf="addAgenda" class="botao" (click)="navegarParaAgenda()">
      <img [src]="'assets/icone-menu/agenda.png'">
      <span>Agenda</span>
    </a>

    <a *ngIf="addHome" class="botao" (click)="home()">
      <img [src]="'assets/icone-menu/home.png'">
      <span>Home</span>
    </a>
  </div>
</section>
