<div class="campo-container-texto mt-1" [style]="campoTextoStyle">
  <label [style]="classeLabel">{{labelText}}</label>

  <input
         pInputText
         [type]="type"
         [step]="step"
         [min]="min"
         [max]="max"
         [pattern]="pattern"
         [class]="classe"
         [id]="id"
         [required]="required"
         [readonly]="readonly"
         [disabled]="disabled"
         [maxlength]="maxlength"
         [placeholder]="placeholder"
         [(ngModel)]="texto">
</div>


