<div class="mt-1">
  <label>{{labelText}}</label>
  <p-autoComplete [(ngModel)]="texto"
                  [class]="classe"
                  appendTo="body"
                  [required]="required"
                  [placeholder]="placeholder"
                  [suggestions]="listaProcedimento"
                  [field]="field"
                  (onSelect)="onSelect.emit()"
                  (completeMethod)="BuscarProcedimentos($event)"
                  [style]="{'text-transform': 'uppercase', 'width': '100%'}">
  </p-autoComplete>
</div>
